.thumbnail img {
    width:100%;
}

.thumbnail {
    padding:0;
    margin-right: 10em;
}

.thumbnail caption-full {
    padding:2em;
}

.caption-full {
    margin:1em;
}
.well {
    margin-right:10em;
}
#delete-form {
    display:inline;
    float:left;
}